<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Effone Chat Appliocation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <% if user_signed_in? %>
      <%= link_to "Effone Chat App", authenticated_root_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to "Effone Chat App", unauthenticated_root_path, class: "navbar-brand" %>
        <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to "Hi, #{current_user.name}" %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete	  %>
            </li>
        <% else %>
            <li>
              <%= link_to "Signin", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Signup", new_user_path %>
            </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
